.background-stocks {
    background: url(./images/kitchen.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: calc(90vh - 56px);
}

.bottom-image {
    height: 140px;
    width: 240px;
}

/* pt-serif-regular - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-serif-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/pt-serif-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-serif-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-serif-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-serif-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-serif-v17-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
}


.white-box{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:whitesmoke;
}
